body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header{
    background-color: #1F2937;
    padding: 16px 220px 0 220px;
}

header {
    display: flex;
    justify-content: space-between;
}

.header-left {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 32px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 128px 220px;
    gap: 64px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;    
    margin-bottom: 16px;
}

.hero .placeholder-image {
    color: #E5E7EB;
    background-color:#6d747d;
    font-size: 18px;
    height: 250px;
    width: 525px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.hero-button {
    color: #E5E7EB;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 18px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100px;
    }

/* section-2 - Random information */

.random-information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 64px 220px;    
}

.title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.illustrations-container {
    display: flex;
    justify-content: center;
    margin: 64px;
}

.illustration {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 150px;
    gap: 8px;
    flex-shrink: 0;
}

.random-information .placeholder-image {
    background-color: transparent;
    border: 5px solid  #3882F6;
    height: 150px;
    width: 150px;
    border-radius: 15px;
}

 .subtext {
    text-align: center;
} 

/* section-3 - Quote */

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 128px 330px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.quote-author {
    margin: 0;
    text-align:end;
    font-weight: bold;
    font-size: 24px;
    padding: 0 32px 0 0;
}

/* section-4 */

.call-to-action {
    display: flex;
    justify-content: center;
    margin: 128px 0;
    /* background-color: #3882F6;
    gap: 32px;
    border-radius: 8px; */

}

.action-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border-radius: 8px;
    gap: 128px;
    padding: 32px 64px;
}

.action-title {
    margin: 0;
    font-size: 24px;
    color: #E5E7EB;

}

.action-subtext {
    color: #E5E7EB;
}

.action-button {
    color: #E5E7EB;
    background-color: #3882F6;
    border: 1px solid #E5E7EB;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 18px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100px;
    }

/* footer */

footer {
    display: flex;
    flex: 1;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}